@import "../../trip.theme";
@import "../../responsive";

#sidenav-search-bar-card {
  background: #fafafa;
  border-radius: 0;
  padding: 24px;
}

#sidenav-search-bar-card-content {
  display: flex;
  flex-direction: column;
}

#sidenav-search-bar-card-content-container {
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

#sidenav-search-bar-card-content-row-name {
  display: flex;
  flex-direction: row;
  align-content: center;
}

#sidenav-search-bar-trip-length {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 2px;
}

#sidenav-search-bar-duration-container,
#sidenav-search-bar-distance-container {
  padding: 0 10px;
}

#sidenav-search-bar-duration,
#sidenav-search-bar-distance {
  font-weight: lighter;
  padding-top: 4px;
}

#sidenav-search-bar-duration {
  color: $primary;
}

#transit-mode-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#sidenav-search-bar-card-content-row-logo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sidenav-search-bar-logo-container {
  display: flex;
  min-width: 125px;
  @include lt-md {
    justify-content: flex-start;
    margin-bottom: 10px;
    min-width: 200px;
  }
}

#sidenav-search-bar-logo {
  width: 100px;
}

.sidenav-search-bar-row {
  margin: 5px;
}

#add-trip-button-container,
#remove-trip-button-container {
  flex-grow: 1;
  margin: 0 3px;
}

#sidenav-current-trip-name {
  padding-top: 4px;
}

h1, h3 {
  margin-bottom: 8px;
}

#sidenav-search-bar-date-range-picker-row {
  display: flex;
  flex-direction: row;

  @include lt-md {
    flex-wrap: wrap;
  }
}

#sidenav-search-bar-add-waypoint,
#sidenav-search-bar-date-range-picker {
  @include lt-md {
    flex-grow: 1;
  }
}

#sidenav-search-bar-add-waypoint {
  padding-top: 4px;
}
