<div id="terms-and-conditions-content-container">
  <h2>TERMS & CONDITIONS</h2>
  <h3>PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY</h3>
  <p>Last Updated: August 13, 2019</p>

  <h4 id="sub-header">Tripsultant Terms of Use</h4>
  <p>
    Thank you for using Tripsultant! These Terms of Use (also referred to herein as this “Agreement”) are between you
    and
    Tripsultant
    Corporation (“Tripsultant”, “we”, “our”, and “us”) and govern your use of our Tripsultant mobile application and
    associated web
    applications and tools (collectively, the “Product”). PLEASE READ THE FOLLOWING TERMS AND CONDITIONS CAREFULLY.
    BY USING
    THE PRODUCT, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTOOD AND AGREE TO BE BOUND BY THESE TERMS OF USE. IF YOU
    DO NOT
    AGREE TO THESE TERMS OF USE, PLEASE CEASE USING THE PRODUCT IMMEDIATELY.
  </p>
  <p>
    This Product and all content, visual interfaces, information, graphics, designs, compilations, source and object
    code,
    products, software, trade-marks, service marks, trade names and services and all related and underlying
    intellectual property
    rights are the property of Tripsultant and/or its third-party license holders. Subject to the terms of this
    Agreement, Tripsultant
    grants you a personal, revocable, non-exclusive, non-transferable, explicitly not to be sub-licensed, limited
    license to use the Product
    for evaluation purposes only in connection with our technical support and related services (“Services”) during
    the limited
    term the Product is made available to you by Tripsultant, which may be amended at any time (the “Term”). Except for
    the express
    license granted to you above, no right, title, interest or license to the Tripsultant Services is otherwise granted
    to you, whether by implication or otherwise.
  </p>

  <p>
    You acknowledge and agree that you will not: (a) reproduce or attempt to reproduce this Product; (b) modify,
    adapt, translate or
    create any derivative works of the Product, its underlying software or attempt to do the foregoing; (c) attempt
    to circumvent any
    security or protective features of the Product or otherwise disable the Product or any technology, features or
    measures in the Product
    by any means or in any manner; (d) attempt to decompile, disassemble, reverse engineer, or otherwise attempt to
    derive the source
    code for the Product software; (e) distribute, encumber, sell, rent, lease, sublicense, or otherwise transfer,
    publish or disclose
    the Product software to any third party; (f) use for a service bureau or otherwise commercialize or attempt to
    commercialize use of
    the Product; or (g) remove or alter any trade-mark, logo, copyright or other proprietary notices, legends,
    symbols or labels in or
    on the Product or used in connection with the Product.
  </p>

  <p>
    If requested in order to provide you with the Services, we expect you to provide Tripsultant with accurate, timely
    information about
    yourself and your requirements, including your contact data such that it remains current. You will not provide
    Tripsultant with false
    information about your identity, impersonate another person or entity, or otherwise misrepresent your identity
    or affiliation to
    Tripsultant. Tripsultant will use that information only in a manner consistent with that disclosed in Tripsultant’s
    Privacy
    Policy, which
    is incorporated into this Agreement by reference. Your failure to comply with this provision automatically
    nullifies any obligation
    Tripsultant may have to contact you or provide you with any notice required by this Agreement or by law.
  </p>

  <p>
    You represent and warrant that you have full right and power to enter into and perform this Agreement, on behalf
    of yourself and your
    organization, and have secured all third party consents necessary to enter into this Agreement. These
    representations and warranties
    shall survive any termination of this Agreement. You agree to indemnify and hold Tripsultant and its users harmless
    from any and all
    damages and costs, including reasonable legal fees, arising out of or related to Your breach of the
    representations and warranties
    described herein. You agree to execute and deliver documents to Tripsultant, upon Tripsultant's reasonable request,
    that
    evidence or effectuate
    Tripsultant’s rights under this Agreement.
  </p>

  <p>
    You are solely responsible for maintaining the confidentiality of any identifying information required for or
    accessed through your use of
    the Product and Services. You may not share such identifying information with other people, and are obligated to
    protect such identifying
    information in the same manner Tripsultant provides in the Privacy Policy. Please keep such identifying information
    private. You must immediately
    notify Tripsultant if you become aware of any loss, theft, or unauthorized use of your identifying information or of
    any other unauthorized use
    of any other user’s account information, contact data, or Services. Tripsultant does not guarantee the security of
    any information transmitted
    to or from Tripsultant. You are solely responsible for all information stored, transferred, and received under your
    account including, but not
    limited to, sole responsibility for completing transactions initiated under your account. If you lose control of
    your account, you may be subject
    to legally binding actions taken on your behalf.
  </p>

  <p>
    Although Tripsultant does not regularly monitor the use of its Products and Services by any particular user, it
    reserves the right to do so if
    Tripsultant, in its sole discretion, determines there may be misuse as defined by the terms of this Agreement.
    Tripsultant
    will not knowingly tolerate
    the use of its services for illegal or other injurious or damaging activities. If Tripsultant believes, in its sole
    and absolute discretion, that
    you may be engaging in or in any way connected with any unlawful or improper activity, Tripsultant may contact law
    enforcement officials or any other
    authority Tripsultant deems proper. Tripsultant may, in its sole discretion, remove, reclassify, revoke, or block
    your access to all or any part
    of the Product or Services at any time for any reason, or for no reason at all.
  </p>

  <p>
    You will not attempt to gain access to Tripsultant's private system areas or to other areas to which you are not
    expressly permitted access and you shall
    not reverse engineer or attempt to reverse engineer any portion of the Services. You agree that if any of your
    activities conducted in violation of
    this Agreement are found to disrupt or damage Tripsultant's hardware, software, system or their functions, you will
    reimburse Tripsultant for system administration
    costs incurred in repairing the affected systems as well as direct and consequential damages incurred by Tripsultant
    arising out of your activities.
  </p>

  <p>
    You shall not use Tripsultant's Product or Services to transmit, transfer or convey data or content that might be
    illegal or otherwise damaging to Tripsultant,
    its users, or others. Specifically, you agree that, and represent and warrant that, no data or content (or any
    portion thereof) provided by you or on your
    behalf shall:
  </p>

  As a user of the Site, you agree not to:
  <ul>
    <li>
      Infringe any third party's copyright, patent, trade-mark, trade secret or other intellectual property rights
      or rights of publicity or privacy;
    </li>
    <li>
      Divulge information that you do not have a right to divulge due to a contractual, fiduciary, or privileged
      relationship;
    </li>
    <li>
      Violate any law, statute, ordinance or regulation (including without limitation those governing export
      control, consumer protection, unfair
      competition, anti-discrimination or false advertising);
    </li>
    <li>
      Be defamatory, trade libelous, unlawfully threatening or unlawfully harassing;
    </li>
    <li>
      Be false, inaccurate or misleading;
    </li>
    <li>
      Be fraudulent or incorporate counterfeit or stolen items or property;
    </li>
    <li>
      Promote physical harm or injury or otherwise advocate violence against or unreasonable hostility toward people
      or groups based on their race,
      religion, national origin, sexual orientation, gender, or disability;
    </li>
    <li>
      Instruct, aid, abet, or promote any illegal activity including, without limitation, instructions on
      constructing explosive or incendiary devices;
      growing or producing controlled substances, or counterfeiting currency, passports, drivers. licenses, etc.;
    </li>
    <li>
      Contain child pornography;
    </li>
    <li>
      Contain any viruses, Trojan Horses, worms, time bombs, mal-ware, or other computer programming routines that
      are intended to damage, detrimentally
      interfere with, surreptitiously intercept or expropriate any system, data or personal information; or
    </li>
    <li>
      Create any actual or potential liability for Tripsultant or cause Tripsultant to lose (in whole or in part) the
      services
      of its advertisers, service providers
      or suppliers as determined by Tripsultant in its sole authority.
    </li>
  </ul>

  <p>
    Tripsultant may modify these Terms of Use from time to time or at any time. Any and all changes to these Terms of
    Use
    will be posted on the Tripsultant.com,
    Tripsultant.ca and the Tripsultant.com sites and you agree to be immediately bound by any changes to these Terms of
    Use
    when you continue to use the Product
    after those changes are posted on these sites.
  </p>

  <p>
    You agree that Tripsultant may terminate your use of the Product or suspend your access to this Product at any time
    for a period of time without liability or
    notice to you. In such instance, you shall cease all use of the Product immediately. You expressly waive and
    release Tripsultant from any and all claims you may
    have against Tripsultant arising out of or related to any such termination.
  </p>

  <p>
    You hereby grant us a perpetual, irrevocable, worldwide, transferable right and license to use, disclose, copy,
    modify, make derivative works from and otherwise
    commercialize, without any further accounting or payment of monies to you, of all anonymous information and
    data that may be collected from your device in
    connection with our Product and Services. For greater clarity, you will always have control over your personal
    information and we shall only collect, use, store
    and disclose your personal information in accordance with our <em>Privacy Policy</em>.
  </p>

  <p>
    THIS PRODUCT AND ANY TRIPSULTANT SERVICES ARE PROVIDED ON AN “AS IS,” AND “AS AVAILABLE” BASIS, WITHOUT
    REPRESENTATION, WARRANTY, CONDITION OR GUARANTEE OF ANY KIND.
    TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, TRIPSULTANT, AND ITS SUPPLIERS AND PARTNERS (INCLUDING WITHOUT
    LIMITATION TRIPSULTANT’S THIRD-PARTY WIRELESS CARRIER
    PARTNERS, RETAILERS, DISTRIBUTORS AND DEVICE MANUFACTURER PARTNERS), HEREBY DISCLAIMS ALL REPRESENTATIONS,
    WARRANTIES, CONDITIONS, WHETHER EXPRESS OR IMPLIED, INCLUDING,
    BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
    OF PROPRIETARY RIGHTS. TRIPSULTANT, AND ITS SUPPLIERS
    AND PARTNERS (INCLUDING WITHOUT LIMITATION TRIPSULTANT’S THIRD-PARTY WIRELESS CARRIER PARTNERS, RETAILERS,
    DISTRIBUTORS AND DEVICE MANUFACTURER PARTNERS), DO NOT REPRESENT
    OR WARRANT THAT THE FUNCTIONS CONTAINED IN THE PRODUCT WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE
    FULLY RESOLVED OR CORRECTED, THAT THE PRODUCT IS FREE OF
    HARMFUL COMPONENTS OR THAT THE PRODUCT OR TRIPSULTANT SERVICES WILL MEET YOUR REQUIREMENTS OR EXPECTATIONS. YOU ARE
    SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR EQUIPMENT OR
    DEVICE, LOSS OF USE, OR LOSS OF DATA THAT MAY ARISE FROM YOUR USE OF THE PRODUCT OR THE SERVICES.
  </p>

  <p>
    TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, TRIPSULTANT OR ITS AFFILIATES, DIRECTORS, OFFICERS, EMPLOYEES,
    CONTRACTORS, ADVISERS, AGENTS, OR THIRD-PARTY PARTNERS AND
    SUPPLIERS (INCLUDING, WITHOUT LIMITATION, TRIPSULTANT’S WIRELESS CARRIER PARTNERS, RETAILERS, DISTRIBUTORS AND
    DEVICE
    MANUFACTURER PARTNERS) WILL NOT BE LIABLE TO YOU FOR
    ANY SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES RELATING TO YOUR USE
    OF THE PRODUCT AND ANY TRIPSULTANT SERVICES, EVEN IF TRIPSULTANT
    HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOU AGREE THAT THE LIMITATIONS OF LIABILITY SET FORTH IN
    THIS SECTION WILL SURVIVE ANY TERMINATION OR EXPIRATION OF
    THIS AGREEMENT AND WILL APPLY EVEN IF ANY LIMITED REMEDY SPECIFIED HEREIN IS FOUND TO HAVE FAILED OF ITS
    ESSENTIAL PURPOSE. IN NO EVENT SHALL TRIPSULTANT’S (OR ITS AFFILIATES,
    DIRECTORS, OFFICERS, EMPLOYEES, CONTRACTORS, ADVISERS, AGENTS, THIRD-PARTY PARTNERS OR SUPPLIERS (INCLUDING,
    WITHOUT LIMITATION, TRIPSULTANT’S WIRELESS CARRIER PARTNERS’,
    RETAILERS’, DISTRIBUTORS’ AND DEVICE MANUFACTURER PARTNERS’) TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES, AND
    CAUSES OF ACTION ARISING OUT OF OR RELATING TO YOUR USE
    OF THE PRODUCT OR THE TRIPSULTANT SERVICES EXCEED $CAD100.
  </p>

  <p>
    You hereby agree to indemnify, defend, and hold harmless TRIPSULTANT, its affiliated companies, and their officers,
    directors, employees, contractors, advisers, agents,
    third party partners and suppliers (including, without limitation, TRIPSULTANT’s wireless carrier partners,
    retailers, distributors and device manufacturer partners), from
    and against any and all claims, suits, actions, losses, costs, damages, and any other liabilities, including
    legal fees, arising out of or related to (a) your use or misuse
    of this Product or the Services, (b) any violation of the rights of any other person or entity by you, (c) any
    actions or omissions of yours in connection with the Product
    or the Services; or (d) any breach or violation by you of these Terms of Use. TRIPSULTANT reserves the right, at
    your
    expense, to assume the exclusive defense and control of
    any matter for which you are required to indemnify us, and you agree to fully cooperate with our defense of
    these claims.
  </p>

  <p>
    This Agreement constitutes the entire agreement between the parties concerning the subject matter hereof and
    supersedes all prior or contemporaneous oral or written
    understandings.
  </p>

  <p>
    <em>
      These Terms of Use, your use of this Product and our Services are governed exclusively by the laws of the
      Province of Ontario and the federal laws of Canada applicable
      therein notwithstanding any principles of conflicts of law. You irrevocably agree that all claims, disputes
      arising under this Agreement shall be settled non-exclusively
      by the courts of the Province of Ontario.
    </em>
  </p>

  <p>
    If any provision of this Agreement should be held invalid or unenforceable by a court of competent jurisdiction,
    such provision will be modified to the extent necessary to
    render it enforceable without losing its intent or severed from this Agreement if no such modification is
    possible, and other provisions of this Agreement will remain in full
    force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in
    any one instance, will not waive such term or condition or any
    subsequent breach thereof. This Agreement, and any rights and licenses granted hereunder, may not be transferred
    or assigned by you and any such attempted transfer or assignment
    shall be null and void, but this Agreement may be assigned or transferred by Tripsultant without restriction. The
    provisions of this Agreement that require or contemplate performance
    after the termination of this Agreement and all provisions relating to limitation of liability, disclaimers, and
    indemnification will be enforceable notwithstanding such termination.
    Tripsultant will not be in default or be liable for any delay, failure in performance, or interruption of Service
    resulting directly or indirectly from any cause beyond its reasonable
    control. By using this Product you expressly consent to receiving electronic communications from us in
    connection with this Product and the Services. You may unsubscribe from
    receiving electronic communications from us at any time by clicking the “unsubscribe” button at the bottom of
    our emails or by advising us at privacy@tripsultant.com or by calling
    us at 226-791-5492. If you wish to communicate with us regarding this Product or the Services, please send us
    notices to the following address: Tripsultant Corporation, 358 Bay St.
    Port Perry ON, L9L 1N1.
  </p>
</div>
