@import "../../trip.theme";
@import "../../responsive";

#footer-toolbar {
  background: $primary;
}

#footer-toolbar-row-spacer {
  height: 8px;
}

#footer-toolbar-row-0 {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  height: 128px;
}

#footer-toolbar-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 64px
}

#footer-toolbar-row-0-site-links, #footer-toolbar-row-0-social-links {
  display: flex;
  flex-direction: column;
}

.footer-toolbar-link {
  justify-items: end;
  font-weight: lighter;
  font-size: small;

  a {
    text-decoration: none;
    color: white;
  }

  @include gt-md {
    justify-items: center;
  }
}

#copyright {
  font-weight: lighter;
  font-size: small;
  color: white;
  margin-left: 4px;
  padding-top: 2px;
}

#footer-logo-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

#footer-logo {
  width: 100px;
}

#footer-social-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer-social-link {
  margin: 0 5px;
}
