<div id="contact-information-content-container">
  <mat-divider id="contact-information-content-divider"
               [vertical]="true">
  </mat-divider>
  <div id="contact-information-content-blurb-container">
    <h2 id="contact-information-content-header">
      Contact Information
    </h2>
    <p id="contact-information-content-blurb">
      For more information about our terms, conditions,
      and/or privacy practices, if you have questions,
      or if you would like to make a complaint,
      please contact by email.
    </p>
    <p id="contact-information-content-mailto">
      <mat-icon id="contact-information-mailto-icon">email</mat-icon>
      <a id="contact-information-content-mailto-link"
         href="mailto:james.w.spears@gmail.com">
        <div id="contact-information-contact-name">
          James <span id="contact-information-contact-last-name">Spears</span>
        </div>
      </a>
    </p>
  </div>
</div>
