@import "../../responsive";
@import "../../trip.theme";

#waypoint-drag-and-drop-logo {
  width: 50px;
}

#waypoint-drag-and-drop-container {
  display: flex;
  flex-direction: row;
}

.cdk-drag-preview {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 10px;
  background: #FAFAFA;
  padding: 4px;
  color: gray;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
  display: flex;
  flex-direction: row;
  margin: 10px;
  background: #FAFAFA;
  padding: 4px;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging #waypoint-drag-and-drop-item-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#waypoint-drag-and-drop-item-card {
  display: flex;
  flex-direction: row;
  margin: 10px;
  background: #FAFAFA;
  padding: 4px;
}

.waypoint-drag-and-drop-item-card-title {
  font-weight: lighter;
  font-size: smaller;
  flex-grow: 1;
}

.waypoint-drag-and-drop-item-card-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.waypoint-drag-and-drop-remove-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#remove-waypoint-button {
  color: gray;
}
