<div *ngIf="tripWaypoints">
  <div cdkDropList
       (cdkDropListDropped)="drop($event)">
    <mat-card cdkDrag
              class="mat-elevation-z0"
              [@flyInOut]="'in'"
              id="waypoint-drag-and-drop-item-card"
              *ngFor="let waypoint of tripWaypoints; let i = index; trackBy: trackBy;">
      <mat-card-title class="waypoint-drag-and-drop-item-card-title">
        {{waypoint.name}}
      </mat-card-title>
      <mat-card-content id="waypoint-drag-and-drop-item-card-content">
        <div class="waypoint-drag-and-drop-remove-button-container">
          <button (click)="removeWaypoint(i)"
                  id="remove-waypoint-button"
                  mat-icon-button
                  [disabled]="tripWaypoints[i].name === 'New Waypoint'"
                  aria-label="Clear waypoint.">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!--<mat-card id="waypoint-drag-and-drop-card">-->
<!--  <mat-card-content id="waypoint-drag-and-drop-card-content">-->
<!--    These routes are intended to be used for planning. They are not-->
<!--    guaranteed to optimal. It is possible closures due to construction,-->
<!--    weather, or other events may make your route untravellable. Please-->
<!--    plan your routes accordingly; consider planning an alternate. Remember-->
<!--    to obey all signs and/or notices regarding your route.-->
<!--  </mat-card-content>-->
<!--</mat-card>-->
