<form id="location-autocomplete-form">
  <mat-form-field id="location-autocomplete-form-field"
                  fxFlex="row"
                  fxFlexFill>
    <input id="location-autocomplete-form-input"
           type="text"
           aria-label="Itinerary point addition."
           matInput
           [formControl]="myControl"
           [value]="optionOverride?.description"
           [required]="inputRequired"
           [placeholder]="inputPlaceholder"
           [matAutocomplete]="auto">
    <mat-autocomplete id="location-autocomplete"
                      autoActiveFirstOption
                      #auto="matAutocomplete">
      <mat-option
        *ngFor="let prediction of (predictions$ | async)"
        (onSelectionChange)="selectPrediction(prediction)"
        [value]="prediction?.description">
        {{prediction?.description}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
