<div id="tripsultant-chat-container">
  <mat-card id="tripsultant-chat-card">
    <mat-card-content id="tripsultant-chat-card-content">
      Please note the tripsultant virtual assistant is provided to our users
      as an alternative interface for accessing site data.
      At tripsultant.com we believe in treating everyone fairly (even robots).
      Please try to avoid using profanity if possible; be direct, but speak
      in such a manner that a human can understand.
    </mat-card-content>
  </mat-card>
</div>
