<div id="terms-and-conditions-container">
  <mat-card id="terms-and-conditions-card">
    <div id="terms-and-conditions-logo-container">
      <img id="terms-and-conditions-logo"
           alt="Tripsultant"
           [src]="tripsultantLogo">
    </div>
    <mat-card-content id="terms-and-conditions-card-content">
      <tripsultant-apps-map-terms-and-conditions-content></tripsultant-apps-map-terms-and-conditions-content>
    </mat-card-content>
  </mat-card>
  <div id="terms-and-conditions-footer-container">
    <tripsultant-apps-map-footer></tripsultant-apps-map-footer>
  </div>
</div>
