<div id="privacy-policy-container">
  <mat-card id="privacy-policy-information-card">
    <div id="privacy-policy-logo-container">
      <img id="privacy-policy-logo"
           alt="Tripsultant"
           [src]="tripsultantLogo">
    </div>
    <mat-card-content id="privacy-policy-card-content"
                      fxLayoutAlign="center center">
      <tripsultant-apps-map-privacy-policy-content></tripsultant-apps-map-privacy-policy-content>
    </mat-card-content>
  </mat-card>
  <div id="privacy-policy-footer-container">
    <tripsultant-apps-map-footer></tripsultant-apps-map-footer>
  </div>
</div>
