<div id="contact-information-container">
  <mat-card id="contact-information-card">
    <div id="contact-information-logo-container">
      <img id="contact-information-logo"
           alt="Tripsultant"
           [src]="tripsultantLogo">
    </div>
    <mat-card-content id="contact-information-card-content">
      <tripsultant-apps-map-contact-information-content></tripsultant-apps-map-contact-information-content>
    </mat-card-content>
  </mat-card>
  <div id="contact-information-footer-container">
    <tripsultant-apps-map-footer id="contact-information-footer"></tripsultant-apps-map-footer>
  </div>
</div>
