/* You can add global styles to this file, and also import other style files */
@import "./trip.theme";
@import "~leaflet/dist/leaflet.css";

$white: white;

html {
  scroll-behavior: smooth;
  overflow: auto;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #FAFAFA;
  font-weight: lighter !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-raised-button:hover {
  @include mat-elevation(6);
}

.mat-mini-fab:hover {
  @include mat-elevation(12);
}

// temporary fix for expansion panels until Angular Material Issue is fixed,
// see https://github.com//issues/13870
// you can also just completely disable animations on the mat
// accordion using '[@.disabled]="true"'
mat-accordion mat-expansion-panel {
  mat-expansion-panel-header {
    height: 40px; // height may be different for you
  }

  .mat-expansion-panel-content {
    height: 0;
  }

  &.mat-expanded {
    mat-expansion-panel-header {
      height: 64px; // height may be different for you
    }

    .mat-expansion-panel-content {
      height: auto;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4c8c4a;
}
