@import '~@angular/material/theming';

@include mat-core();

$mat-trip-primary: mat-palette($mat-green, 600, 500, A100);
$mat-trip-accent: mat-palette($mat-blue, 700, 500, A100);
$mat-trip-warn: mat-palette($mat-red, 500, 900, A100);

$primary: mat-color($mat-trip-primary);
$accent: mat-color($mat-trip-accent);
$warn: mat-color($mat-trip-warn);

$mat-trip-light-theme: mat-light-theme($mat-trip-primary, $mat-trip-accent, $mat-trip-warn);

@include angular-material-theme($mat-trip-light-theme);
